body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

input, textarea {
  padding: 10px;
  width: 300px;
  margin: 5px;
}

button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
}

#feed {
  width: 500px;
  margin: auto;
  text-align: left;
}

.post {
  background: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
}
